<div class="login">
    <form class="form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="form__wrapper">
            <h2 class="form__title">Login</h2>
            <app-input formControlName="email" label="E-mail" type="text" fieldName="email"
                [parentFormGroup]="authForm"></app-input>
            <app-input formControlName="password" label="Password" type="password" fieldName="password"
                [parentFormGroup]="authForm"></app-input>
            <button type="submit" class="form__button">Login</button>
            <p class="form__desc">Don’t have accound? <a class="form__link" routerLink="/signup">Signup</a> </p>
        </div>
    </form>
</div>