.header {
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 74px);
  margin: 0 auto;
  max-height: 927.5px;
  background-image: url("../../../assets/bgc.jpg");
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
