<div class="navigation">
    <h1 class="navigation__logo" routerLink="/">
        <img src="../../../assets/logo.svg" alt="logo" />
    </h1>
    <ul class="navigation__list">
        <li class="navigation__item" *ngIf="isAuth">
            <a routerLink="/sport" href="#" routerLinkActive="active" class="navigation__link">
                sport
            </a>
        </li>
        <li class="navigation__item" *ngIf="isAuth">
            <a routerLink="/medical" href="#" routerLinkActive="active" class="navigation__link">
                medical
            </a>
        </li>
        <li class="navigation__item">
            <a routerLink="/login" routerLinkActive="active" class="navigation__link">
                Login
            </a>
        </li>
        <li class="navigation__item">
            <a routerLink="/signup" routerLinkActive="active" class="navigation__link">
                Signup
            </a>
        </li>
    </ul>
</div>