@use "./colors.scss" as colors;

@mixin auth-user {
  width: 100%;
  height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;

  .form {
    width: 100%;
    max-width: 320px;
    padding: 40px 30px;
    border-radius: 8px;

    &__error {
      width: 100%;
      color: white;
      box-sizing: border-box;
      background-color: colors.$errorRed;
      padding: 20px 15px;
      border-radius: 5px;
      font-weight: 300;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
      margin: 24px 0 30px 0;
      &-icon {
        width: 5px;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      font-size: 40px;
      font-weight: 400;
      color: white;
      margin-bottom: 10px;
      &-desc {
        font-size: 15px;
        color: white;
        font-weight: 100;
        margin-bottom: 25px;
        &--error {
          margin-bottom: 0;
        }
      }
    }
    &__group {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-bottom: 15px;

      &-label {
        color: colors.$text;
        font-weight: 100;
        font-size: 13px;
        padding-bottom: 4px;
        letter-spacing: 1px;
      }
    }
    &__button {
      border: 0;
      background-color: colors.$yellow;
      padding: 6px 20px;
      width: 100%;
      font-size: 15px;
      font-weight: 300;
      color: colors.$black;
      border-radius: 5px;
      font-family: "Kanit", sans-serif;
      margin: 15px 0;
      cursor: pointer;
    }
    &__desc {
      font-size: 15px;
      color: colors.$text;
      font-weight: 100;

      margin: 0 auto;
    }
    &__link {
      color: colors.$yellow;
      font-weight: 300;
      cursor: pointer;
    }
  }
}
